:root {
    --primary-colour: 254, 208, 29;
    --secondary-colour: 9, 22, 30;
    --brad-colour: 251, 200, 89;
    --casey-colour: 68, 232, 244;
    --jason-colour: 159, 117, 237;
    --kathy-colour: 200, 248, 96;
    --myke-colour: 232, 103, 162;
    --stephen-colour: 255, 230, 103;
    --accent-colour: var(--primary-colour);
    --left-colour: var(--myke-colour);
    --right-colour: var(--stephen-colour);
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('Gotham-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gotham-Black";
    background-color: rgb(var(--secondary-colour));
    color: rgb(var(--accent-colour));
    overflow-x: hidden;
}

#container {
    align-items: start;
    flex-direction: column;
    justify-content: center;

    #container-text {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #container-fg {
        /* background-color: red; */
        height: 60%;
        width: 100%;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: visible;

        #fighters {
            height: 100%;
            width: 100%;
            padding-inline: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            z-index: 3;

            #fighter-left {
                display: flex;
                justify-content: center;
                /* justify-content: flex-start; */
                /* background-color: blue; */

                img {
                    transform: scaleX(-1);

                    /* &:hover {
                        transform: translateY(-10px) scaleX(-1.1) scaleY(1.1);
                    } */
                }
            }

            #fighter-right {
                display: flex;
                justify-content: center;
                /* justify-content: flex-end; */
                /* background-color: red; */

                /* img {
                    &:hover {
                        transform: translateY(-10px) scale(1.1);
                    }
                } */
            }

            .fighter {
                height: 100%;
                min-height: 150px;
                width: 50%;
                overflow: visible;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                position: relative;
                z-index: 4;

                .fighter-img-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    object-fit: contain;
                    height: 100%;
                    transition: all 0.3s ease-in-out;
                }

                img {
                    flex-shrink: 0;
                    object-fit: contain;
                    transition: all 0.3s ease-in-out;
                    /* cursor: pointer; */

                    &.fighter-head {
                        height: 80%;
                        width: 80%;
                    }

                    &.fighter-img,
                    &.fighter-lights-img {
                        height: 50%;
                        width: auto;
                        object-fit: contain;
                        /* background-color: green; */
                    }

                    &.fighter-lights-img {
                        position: absolute;
                        z-index: 7;
                        opacity: 0;
                    }
                }


            }
        }

        .fighter-select {
            position: absolute;
            z-index: 5;
            transition: transform 0.5s ease-in-out;
            width: 400px;
            height: 280px;
            max-width: 80%;

            &#fighter-left-select {
                transform: translateX(-500%);
            }

            &#fighter-right-select {
                transform: translateX(500%);
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(3, 30%);
                gap: 20px;
                padding: 20px;
                margin: auto;
                background-color: rgba(47, 76, 91, 0.5);
                border-radius: 10px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

                .grid-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(12, 35, 41);
                    border-radius: 10px;
                    text-align: center;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
                    cursor: pointer;
                    /* border: 2px solid rgb(var(--accent-colour)); */

                    &:hover {
                        transform: translateY(-10px) scale(1.1);
                        background-color: rgb(74, 92, 102);
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

                        &.left-grid-item img {
                            transform: translateY(-10px) scaleX(-1.1) scaleY(1.1) !important;
                        }

                        &.right-grid-item img {
                            transform: translateY(-10px) scaleX(1.1) scaleY(1.1) !important;
                        }
                    }

                    &:active {
                        transform: translateY(-5px) scale(0.9);
                        background-color: rgb(83, 103, 114);
                    }

                    &.left-grid-item.selected {
                        border: 2px solid rgb(var(--left-colour));
                        background-color: rgba(var(--left-colour), 0.2);
                        filter: drop-shadow(0px 0px 10px rgba(var(--left-colour)));
                    }

                    &.right-grid-item.selected {
                        border: 2px solid rgb(var(--right-colour));
                        background-color: rgba(var(--right-colour), 0.2);
                        filter: drop-shadow(0px 0px 10px rgba(var(--right-colour)));
                    }
                }
            }
        }

        #go-button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            transition: all 0.3s ease-in-out;
            padding: 10px;
            opacity: 0;

            #go-button {
                height: fit-content;
                padding: 10px 20px;
                font-size: 24px;
                font-weight: bold;
                background-color: rgb(var(--accent-colour));
                color: rgb(var(--secondary-colour));
                border: none;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transition: all 0.3s ease-in-out;
                user-select: none;
                -webkit-user-select: none;

                &:hover {
                    transform: translateY(-10px) scale(1.1);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                    filter: brightness(105%);
                }

                &:active {
                    transform: translateY(-5px) scale(0.9);
                    filter: brightness(110%);
                }
            }
        }
    }


    #container-bg {
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: url('images/arena.png');
        /* -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        filter: blur(15px); */
        background-size: auto 100%;
        background-position: top center, bottom center;
        background-repeat: tile;
        overflow-x: auto;
    }
}

#footer {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(15, 31, 39);
    padding: 10px 0 20px 0;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 10px;
    }
}

.septembed {
    width: 90%;
    margin: auto auto 10px auto;
    overflow-x: hidden;
    border-radius: 19px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.floating-button {
    background-color: rgb(var(--secondary-colour));
    color: rgb(var(--accent-colour));
    border: 2px solid rgb(var(--accent-colour));
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(51, 47, 47, 0.5);
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}

.floating-button:hover {
    background-color: rgb(var(--accent-colour));
    color: rgb(var(--secondary-colour));
}

@keyframes blink-left {
    0% {
        opacity: 0;
        filter: unset;
    }

    50% {
        opacity: 1;
        filter: drop-shadow(0px 0px 10px rgba(var(--left-colour)));
    }

    100% {
        opacity: 0;
        filter: unset;
    }
}

@keyframes blink-right {
    0% {
        opacity: 0;
        filter: unset;
    }

    50% {
        opacity: 1;
        filter: drop-shadow(0px 0px 10px rgba(var(--right-colour)));
    }

    100% {
        opacity: 0;
        filter: unset;
    }
}

.blinking {

    opacity: 1;

    &#fighter-left-lights-img {
        animation: blink-left 1.2s infinite;
    }

    &#fighter-right-lights-img {
        animation: blink-right 1.2s infinite;
    }
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(10%);
}

/* @media (max-width: 768px) {
    #fighter-left-grid {
        position: absolute;
        left: 0;
        transform: translateX(-5%) translateY(-50%);
        width: 300%;

        .grid-item {
            transform: translateX(-10%);
        }
    }

    #fighter-right-grid {
        position: absolute;
        left: 0;
        transform: translateX(-60%) translateY(100%);
        width: 300%;

        .grid-item {
            transform: translateX(-10%);
        }
    }

    #go-button {
        position: absolute;
        top: 0;
    }
} */